.banner {
  background: url('https://media.cntraveler.com/photos/63693207429b3d457f71bdda/16:9/w_2580,c_limit/Crested%20Butte_GettyImages-1334412902.jpg') center center;
  background-size: cover;
  height: 50vh; /* 50 percent of the screen */
  position: relative;
}

.banner__info {
  background-color: black;
  color: white;
  padding-top: 25vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}

.banner__search {
  display: flex;
  flex-direction: column;
}

.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
  outline: none !important;
}

.banner__info > button {
  background-color: #ff7779;
  color: white;
  text-transform: inherit; 
  /* MUI makes everything uppercase for some reason */
  margin-top: 20px;
  font-weight: 600;
}
.banner__info > button:hover {
  background-color: white;
  color: #ff7779;
}