.search {
  position: absolute;
  top: 35px;
  left: 25%;
  width: 100vw;
  z-index: 100;
  /* search box always on top */
}

.search > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 559px;
  padding: 10px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 380px;
}

.search > h2 > input {
  width: 539px;
  padding: 20px;
  position: absolute;
  left: 0;
  height: 30px;
  top: 40px;
  border: none;
}

.search > h2 > input:focus {
  outline: none;
}

.search > h2 > button {
  position: absolute;
  left: 0;
  top: 110px;
  text-transform: inherit;
  background-color: #ff7779;
  color: white;
  width: 579px;
}

.search > h2 > button:hover {
  background-color: white;
  color:#ff7779;

}

